.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  transition: background-color 150ms ease, color 150ms ease;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }
}

.controlActive {
  background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-dark-5));
  color: light-dark(var(--mantine-color-primary-7), var(--mantine-color-primary-4));
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-dark-4));
    color: light-dark(var(--mantine-color-primary-8), var(--mantine-color-primary-3));
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: background-color 150ms ease, color 150ms ease, border-color 150ms ease;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }
}

.linkActive {
  background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-dark-5));
  color: light-dark(var(--mantine-color-primary-7), var(--mantine-color-primary-4));
  border-left-color: light-dark(var(--mantine-color-primary-5), var(--mantine-color-primary-5));
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-dark-4));
    color: light-dark(var(--mantine-color-primary-8), var(--mantine-color-primary-3));
  }
}

.chevron {
  transition: transform 200ms ease;
}